<footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4">
      <div class="text-center md:text-left mb-4 md:mb-0">
        <h3 class="text-xl font-semibold">Join our community</h3>
        <p class="mt-2">Stay connected with us on social media!</p>
        <div class="mt-4 flex justify-center md:justify-start">
          <a href="https://t.me/+pRtbcXDrpq9iNjA1" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg mr-4" target="_blank">Join Telegram Group</a>
          <a href="https://chat.whatsapp.com/GJH0klfcdQwEhvURw5Axl9" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg" target="_blank">Join WhatsApp Group</a>
        </div>
      </div>
      <div class="text-center md:text-right">
        <h3 class="text-xl font-semibold">Useful Links</h3>
        <ul class="mt-2">
          <li><a href="/about" class="text-gray-300 hover:text-gray-400">About Us</a></li>
          <li><a href="/contact" class="text-gray-300 hover:text-gray-400">Contact Us</a></li>
          <li><a href="/faq" class="text-gray-300 hover:text-gray-400">FAQs</a></li>
          <li><a href="/terms" class="text-gray-300 hover:text-gray-400">Terms of Service</a></li>
          <li><a href="/privacy" class="text-gray-300 hover:text-gray-400">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
  