<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 text-white">
    <div class="card">
        <div class="w-full h-40 bg-sky-200 rounded-lg overflow-hidden">
            <img src="/images/uploads/<%= post.image %>" class="w-full h-full object-cover" alt="imgg">
        </div>
        <h3 class="mt-2 text-sm">
            <%= post.title %>
        </h3>
        <h3 class="mt-2 text-sm">
            <% if (post.user && post.user._id) { %>
                <a href="/user/posts/<%= post.user._id %>">Check all Posts by <%= post.user.username %></a>
            <% } else { %>
                User information not available
            <% } %>
        </h3>
    </div>
</div>
<script>
              document.addEventListener("DOMContentLoaded", function () {
            const cartCounter = document.getElementById("cartCounter");

            // Load saved items from local storage
            const savedItems = JSON.parse(localStorage.getItem("cart")) || [];

            // Function to update the cart counter
            function updateCartCounter() {
                cartCounter.textContent = `(${savedItems.length})`; // Update cart counter
                cartCounter.classList.remove("hidden"); // Make cart counter visible
            }

            // Initial cart counter update
            updateCartCounter();
        });

</script>
<% include ./partials/footer.ejs %>
