<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-zinc-100 flex items-center justify-center">
  <div class="w-70 h-[84vh] bg-white rounded-lg px-8 py-8">
    <h1 class="text-3xl text-center leading-none mb-3 tracking-tighter">Create New account</h1>
    <form action="/register" method="post">
      <input class=" border-2 block mt-3 w-full px-3 py-2 "  type="username" name="username" placeholder="username">
      <input class=" border-2 block mt-3 w-full px-3 py-2 "  type="fullname" name="fullname" placeholder="fullname">
      <input class=" border-2 blcok mt-3 w-full px-3 py-2"  type="password" name="password" placeholder="password">
      <input class=" border-2 block mt-3 w-full px-3 py-2 "  type="email" name="email" placeholder="email">
      <input class="border-2 block mt-3 w-full px-3 py-2 "  type="number" name="contact" placeholder="contact">
      <input class="block mt-3 w-full px-3 py-2 bg-red-600 rounded-lg text-white" type="submit">
      <p class=" font-semibold text-zinc-700 mt-6  text-center leading-none">By continuing you agree to pintrest term of servise </p>
    </form>
    <a class="inline-block mt-4 text-sm font-semibold w-full text-center" href="/">Already have acconut</a>
  </div>
</div>
<% include ./partials/header.ejs %>







<% include ./partials/footer.ejs %>

<% include ./partials/footer.ejs %>
